
<%- include('./partial/header.ejs')%>
    <main>
        <h2>Event Catering Ideas <span id="id" class="material-symbols-outlined">edit</span> <span
            class="material-symbols-outlined">delete</span></h2>

            <div class="container">
                <div class="image">
                    <figure>
                        <a href="images/cater.jpg"><img src="images/cater.jpg" alt="my image" width="350"
                                height="350"></a>
                        <figcaption>Charlotte, NC</figcaption>
                    </figure>
                </div>
                <div class="text">
                    <p><Strong>Host:</Strong> Community Kitchen Program</p>
                    <p><strong>Date and Time:</strong> Sa, May 27, 2023 5.00Pm -7.15Pm </p>
                    <p><strong>Location:</strong> 3601 Central Ave, Charlotte, NC 28205</p>
                    <p><strong>Details:</strong> Event planners these days have many things to think about when balancing attendee needs and desires. 
                        Here are a few delicious catering menu ideas to try.</p>
                </div>
            </div>
        
    </main>
    <%- include('./partial/footer.ejs')%>
    