<%- include('./partial/header.ejs')%>
    <main>
        <h2>Food and Nutrition Services</h2>
        <ol class="event">
            <li><a href="event.ejs">Event Catering Ideas</a></li>
            <li><a href="event.ejs">Benefits of a Lunch-and-Learn</a></li>
            <li><a href="event.ejs">Quick and Fast Catering Ideas</a></li>
        </ol>
        <h2>Great Golf Event</h2>
        <ol class="event">
            <li><a href="event.html">How to Organize a Basketball Tournament</a></li>
            <li><a href="event.html">Post-tournament Dinner</a></li>
            <li><a href="event.html">How to Teach Kids to Golf</a></li>
        </ol>
    </main>
    <%- include('./partial/footer.ejs')%>