 <!-- <label for="category"> Category </label> 
            <select id="category" name="category">
                <option value="<%=selected %>"><%= selected %></option>
               <% categories.forEach((category)=>{%>
                <% if(!category.include(selected)){%>
                    <option value="<%=category %>"><%= category %></option>
               <% }%>
              <%  }); %>
              </select><br><br> -->