
<%- include('./partial/header.ejs')%>
<main>
    <h2>Welcome to Lunch Program Homepage</h2>
    <p>The lunch programs are attended, and create several events to help the community.
        They also train people to cook food and cater food for school students and staff members.</p>
</main>
    <%- include('./partial/footer.ejs')%>