<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Eshetu >>about</title>
</head>
<body>
    <main>
        <h1>About</h1>
        <ul>
            <li>Name</li>

            <ul>
                <li>Eshetu Wekjira</li>
            </ul>
        </ul>
        <ul>
            <li>Major</li>

            <ul>
                <li>Computer Science</li>
            </ul>
        </ul>
        <ul>
            <li>Concentration</li>
            <ul>
                <li>Software Systems and Networks</li>
            </ul>
        </ul>
    </main>
    <footer></footer>
</body>

</html>