<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Eshetu >>contact</title>
</head>
<body>
    <main>
        <h1>Contact Information</h1>
        <ul>
            <li>Name</li>
       
        <ul>
            <li>Eshetu Wekjira</li>
        </ul>
    </ul>
    <ul>
        <li>Email Address</li>
   
    <ul>
        <li>ewekjira@uncc.edu</li>
    </ul>
</ul>
    </main>
    <footer></footer>
    
</body>
</html>