<%- include('../partial/header.ejs')%>
    <main>
        <form action='/events' enctype="multipart/form-data"  method ='POST'>
        <label for="category"> Category </label> 
            <select id="category" name="category">
                <option value="selecteCategory" selected>Select Category--</option>
                <option value="Food and Nutrition Services">Food and Nutrition Services</option>
                <option value="Recreational Event">Recreational Event</option>
                <option value="Voluntary">Voluntary</option>
                <option value="Catering">Catering</option>
                <option value="School Lunch">School Lunch</option>
              </select><br><br>
        <label for="title"> Title</label> 
        <input type="text" id="title" value="title" name="title" required=""> <br><br>
        <!-- <label for="hostName"> Host</label> 
        <input type="text" id="hostName" value="host Name" name="hostName" required=""> <br><br> -->
        <label for="details"> Details</label> 
        <input type="text" id="details" value="description" name="details" required=""> <br><br>
        <label for="location"> Where</label> 
        <input type="text" id="location" value="location" name="location" required=""> <br><br>
        <label for="startDateTime"> Start</label> 
        <input type="datetime-local" id="startDateTime" value="" name="startDateTime" required=""> <br><br>
        <label for="endDateTime"> End</label> 
        <input type="datetime-local" id="endDateTime" name="endDateTime" value="" required="" > <br><br>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" value="image" required=""><br><br>
        <input type="submit" value="Submit" class="text"><br><br> <br>
         </form>
        
        
    </main>
    <%- include('../partial/footer.ejs')%>